body{
    width: 50%;
    margin: auto;
}

h1{
    font-family: sans-serif;
}

h2{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h3{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

li{
    font-family: monospace;
}